.myPicture {
    background-image: url('images/computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-1 {
    font-size: 100px !important;
}

/* div {
    border: black 1px solid;
} */